<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Productos en el Carrito</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <header class="header">
            <h1>Bienvenido {{user.firstName}}</h1>
            <div class="user-info">
                <p><strong>E-mail:</strong> {{user.email}}</p>
                <p><strong>Edad:</strong> {{user.age}}</p>
                <p><strong>Rol:</strong> {{user.role}}</p>
            </div>
            <nav class="nav-buttons">
                <button><a class="products" href="/carts">Mi
                        Carrito</a></button>
                <button><a class="products" href="/products">Ver
                        Productos</a></button>
                <button><a class="products" href="/realTimeProducts">Gestionar
                        Productos</a></button>
                <button><a class="logout" href="/login">Cerrar
                        Sesión</a></button>
            </nav>
        </header>

    </body>
</html>