<h1> Iniciar Sesion</h1>

<form action="/login" method="POST">
    <label for="usuario"> Usuario </label>
    <input type="text" name="usuario" required>
    <br><br>
    <label for="contrase침a"> Contrase침a </label>
    <input type="text" name="contrase침a" required>
    <button type="submit"> Iniciar Sesi칩n</button>
</form>